## Classify the chemical structure as 'Ready BioDegradable' – RB vs 'Not Ready Biodegradable' – NRB

In [1]:
## Loading all Libraries
#########################
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *

In [3]:
df_data=pd.read_csv('bio-degradabale-data.csv',sep=';',)
df_data.head()

,3.919,2.6909,0,0.1,0.2,0.3,0.4,31.4,2,0.5,...,0.19,0.20,0.21,2.949,1.591,0.22,7.253,0.23,0.24,RB
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB

In [4]:
df_data.shape

(1054, 42)

In [6]:
['column'+str(i) for i in range(42)]

['column0',
 'column1',
 'column2',
 'column3',
 'column4',
 'column5',
 'column6',
 'column7',
 'column8',
 'column9',
 'column10',
 'column11',
 'column12',
 'column13',
 'column14',
 'column15',
 'column16',
 'column17',
 'column18',
 'column19',
 'column20',
 'column21',
 'column22',
 'column23',
 'column24',
 'column25',
 'column26',
 'column27',
 'column28',
 'column29',
 'column30',
 'column31',
 'column32',
 'column33',
 'column34',
 'column35',
 'column36',
 'column37',
 'column38',
 'column39',
 'column40',
 'column41']

In [8]:
l=['column0','column1','column2','column3','column4','column5','column6','column7','column8','column9','column10','column11','column12',
 'column13','column14','column15','column16','column17','column18','column19','column20','column21','column22','column23','column24',
 'column25','column26','column27','column28','column29','column30','column31','column32','column33','column34','column35','column36',
 'column37','column38','column39','column40','Label']

In [15]:
df_data=pd.read_csv('bio-degradabale-data.csv',sep=';',names=l)
df_data.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column32,column33,column34,column35,column36,column37,column38,column39,column40,Label
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [16]:
df_data['Label'].unique()

array(['RB', 'NRB'], dtype=object)

In [17]:
# label_enc=LabelEncoder()
# df_data['Label']=label_enc.fit_transform(df_data['Label'])
df_data['Label']=df_data['Label'].map({'RB':0,'NRB':1})

In [18]:
df_data.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column32,column33,column34,column35,column36,column37,column38,column39,column40,Label
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,0
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,0
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,0
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,0
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,0

In [21]:
x=df_data.iloc[:,:-1]
y=df_data.iloc[:,-1]

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [23]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy',max_depth=1)
# adaboost=

In [25]:
adaboost=AdaBoostClassifier(base_estimator=model,n_estimators=400,learning_rate=1)
best_model=adaboost.fit(x_train,y_train)

In [26]:
y_pred=best_model.predict(x_test)

In [27]:
print(accuracy_score(y_test,y_pred))

0.8483412322274881